<form name="container-form" class="mt-4" method="POST" action="/courses/handler-form-actions">
    <div>
        <h3>Khóa học của tôi</h3>
        <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>
            <select class="form-control form-control-sm checkbox-select-all-options " name="action" required>
                {{!-- name="action" là action hay hành động của chúng ta mún áp dụng lên là gì (thêm, xóa,...)--}}
                <option value=""> ---Hành động---- </option>
                <option value="delete">Xóa</option>
            </select>
            <button class="btn btn-primary btn-sm check-all-submit-btn " disabled>Thực hiện</button>
        </div>

    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">check</th>
                <th scope="col">Stt</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Nội dung</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th>
                    <input class="from-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                </th>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-course-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">Bạn chưa đăng bài viết nào.
                    <a href="/courses/create">Đăng khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- delete --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Có muốn xóa không đóo</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
                <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete form --}}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        //lấy ra thẻ form dùng để thay đổi method là DELETE
        //lí do để thay đổi method là do ở trang delete ko có course._id
        //do nó hiện cả list các khóa học.
        // course._id chỉ có ở trang /edit vì khi nhấn vào sửa thì nó sẽ lấy ra từng khóa học
        var deleteForm = document.forms['delete-course-form'];
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var containerForm = $('form[name="container-form"]')

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');// lấy ra id của khóa học

        });
        btnDeleteCourse.onclick = function () {
            //action : là để thay đổi method của form sang method khác bằng js
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
            //submit: sau khi thay đổi thì sẽ submit thay đổi lên thẻ form 
            //nhằm thay đổi đẩy lên overide method của chúng ta, để thay đổi sang
            //method là DELETE
        }

        //Checkbox all changed
        checkboxAll.change(function () {
            var isCheckedAll = checkboxAll.prop('checked');
            courseItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn()
        })

        // check all submit button clicked

        containerForm.on('submit', function (e) {
            var isSubmittable = !checkAllSubmitBtn.hasClass('disabled');
            if (!isSubmittable)
                e.preventDefault();
        })


        //course Item Checkbox changed
        courseItemCheckbox.change(function () {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn()
        })
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.removeAttr('disabled', false);
            }
            else {
                checkAllSubmitBtn.removeAttr('disabled', true);
            }
        }
    });
</script>
